// variables
$text-color: #fff;
$main-font: 'Montserrat', sans-serif;
$bg-color: rgb(231,111,81);
$bg-gradient: linear-gradient(90deg, rgba(231,111,81,1) 0%, rgba(244,162,97,1) 93%, rgba(244,162,97,1) 100%);
$max-width: 1024px;