@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.header {
    margin: .8rem auto 0 auto;
    padding: 2rem;
    text-align: center;
    color: $text-color;

    &__title {
        @include heading(700, 3rem, .5);
        margin: 0;
    }
    &__caption {
        @include heading(400, 1rem, .2);
        padding: 1rem 0 0 0;
    }
}