@use '../utilities/variables' as *;
/************************************
            MAIN STYLING
************************************/
.content {
    max-width: $max-width;
    display: grid;
    margin: 1rem auto;
    padding: 2rem;  
    border-radius: 15px;
    background: rgba(255,255,255,.2);
}

.content__gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
    grid-auto-rows: auto;
    justify-content: center;
    gap: 30px;

    &__link {
        text-align: center;
        opacity: 0;
    }
}

img {
    max-width: 200px;
    height: auto;
    box-shadow: -5px 5px 3px rgba(0,0,0,.2);
}
