@use '../utilities/variables' as *;
/************************************
            SEARCH STYLING
************************************/
.search-container {
    max-width: $max-width;
    margin: 0 auto;
    text-align: center;

    &__input {
        width: 40%;
        padding: .8rem;
        font-weight: 300;
        font-size: .75rem;
        margin-top: 2rem;
        outline: 2px solid white;
        border: none;
        border-radius: 15px;
        transition: width .5s ease;

        &:focus {
            width: 55%;
        }
    }
}

.clear-btn {
    display: block;
    background: darken($bg-color, 5%);
    font-weight: 300;
    font-size: .7rem;
    color: $text-color;
    border: none;
    margin: 1rem auto 0 auto;
    padding: .5rem 1rem;
    border-radius: 10px;
    transition: background .2s ease;

    &:hover {
        background-color: lighten($bg-color, 2%);
        cursor: pointer;
    }
}